mainmenu "Furrydex"

menu "Display"

choice FURRYDEX_DISPLAY_TYPE
	bool "Type of display used"
	default FURRYDEX_DISPLAY_TYPE_LCD

config FURRYDEX_DISPLAY_TYPE_LCD
	bool "LCD"

config FURRYDEX_DISPLAY_TYPE_EPD
	bool "EPD"
	
endchoice

config FURRYDEX_DISPLAY_WIDTH
    int "EPD RAM width"
    default 132
    help
      The width of the EPD displays RAM in bits

config FURRYDEX_DISPLAY_HEIGHT
    int "Display memory height"
    default 250
    help
      The height of the EPD displays RAM in bits

config FURRYDEX_CURSOR_START_X
    int "Display memory cursor start X"
    default 0
    help
      Set the start of the EPD RAM cursors X position. Normal value is 0

config FURRYDEX_CURSOR_START_Y
    int "Display memory cursor start Y"
    default 249
    help
      Set the start of the EPD RAM cursors Y position. Normal value is HEIGHT-1 or 0

config FURRYDEX_FRAME_BYTES_BUFFER
    int "Size of frame buffers"
    default 4250
    help
      The size of a frame buffer in the MCU's memory. This is sometimes different than the display's expected bytes due to pixel packing patterns.

config FURRYDEX_FRAME_BYTES_DISPLAY
    int "Size of display's memory"
    default 4125
    help
      The number of bytes that the display expects to receive

endmenu

menu "Input mapping"
	config FURRYDEX_INPUT_LEFT
	int "The shift register bit corresponding to the left input (0-7)"
	default 6
	help
		The shift register bit corresponding to the left input (0-7)

	config FURRYDEX_INPUT_RIGHT
	int "The shift register bit corresponding to the right input (0-7)"
	default 5
	help
		The shift register bit corresponding to the right input (0-7)
endmenu

menu "Lua options"
config LUA_HEAP_SIZE
	int "How much memory to be allocated to Lua"
	default 65536
	help
	  How much memory to be allocated to Lua's heap

config LUA_MAX_THREADS
	int "How many Lua scripts can be running at once"
	default 7
	help
	  How many Lua scripts can be running at once

config LUA_THREAD_STACK_SIZE
	int "How much memory to be allocated to each Lua thread"
	default 3072
	help
	  How much memory to be allocated to each Lua thread.

endmenu

menu "USB sample options"
	depends on USB_DEVICE_STACK_NEXT

config SAMPLE_USBD_MANUFACTURER
	string "USB device sample manufacturer string"
	default "Zephyr Project"
	help
	  USB device sample manufacturer string.

config SAMPLE_USBD_PRODUCT
	string "USB device sample product string"
	default "USBD sample"
	help
	  USB device sample product stringa.

config SAMPLE_USBD_VID
	hex "USB device sample Vendor ID"
	default 0x2fe3
	help
	  USB device sample Vendor ID. The default id (0x2fe3) is associated to
	  Zephyr Project, you must use your own VID for samples and applications
	  outside of Zephyr Project.

config SAMPLE_USBD_PID
	hex "USB device sample Product ID"
	default 0x0001
	help
	  USB device sample Product ID. You must use your own PID for samples
	  and applications outside of Zephyr Project.

config SAMPLE_USBD_SELF_POWERED
	bool "USB device sample Self-powered attribute"
	default y
	help
	  Set the Self-powered attribute in the sample configuration.

config SAMPLE_USBD_REMOTE_WAKEUP
	bool "USB device sample Remote Wakeup attribute"
	help
	  Set the Remote Wakeup attribute in the sample configuration.

config SAMPLE_USBD_MAX_POWER
	int "USB device sample bMaxPower value"
	default 125
	range 0 250
	help
	  bMaxPower value in the sample configuration in 2 mA units.

config SAMPLE_USBD_20_EXTENSION_DESC
	bool "Use default USB 2.0 Extension Descriptor"
	depends on USBD_BOS_SUPPORT
	help
	  Set bcdUSB value to 0201 and use default USB 2.0 Extension Descriptor.

endmenu

source "Kconfig.zephyr"