/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <nordic/nrf52840_partition.dtsi>
#include "nrf52840_custom_board_nrf52840-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include <zephyr/dt-bindings/adc/adc.h>
#include <zephyr/dt-bindings/adc/nrf-adc.h>

/ {
	model = "Nrf52840 Custom Board";
	compatible = "nordic,nrf52840-custom-board-nrf52840";

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,uart-mcumgr = &cdc_acm_uart0;
		zephyr,bt-mon-uart = &cdc_acm_uart0;
		zephyr,bt-c2h-uart = &cdc_acm_uart0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		};
		led1: led_1 {
			gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;
		};
	};

	gpios {
		compatible = "gpio-leds";
		dc0: dc_0{
			gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
		};
		rst0: rst_0{
			gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
		};
		cs0: cs_0{
			gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
		};
		te0: te_0{
			gpios = <&gpio0 29 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		};
		hc165shld: hc165shld{
			gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "Any button pressed";
		};
	};

	aliases {
		sw0 = &button0;
		adcctrl = &adc;
		led0 = &led0;  // is this necessary?
		led1 = &led1;  // is this necessary?
		dc0 = &dc0;
		rst0 = &rst0;
		cs0 = &cs0;
		te0 = &te0;
		bootloader-led0 = &led0; // is this necessary?
		mcuboot-button0 = &button0; // is this necessary?
		mcuboot-led0 = &led0; // is this necessary?
		watchdog0 = &wdt0; // is this necessary?
		zephyr-udc0 = &usbd;
		hc165shld = &hc165shld;
	};
};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    // channel_0: channel@0 { reg = <0>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN0>; zephyr,resolution = <10>; };
    channel_1: channel@1 { reg = <1>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN1>; zephyr,resolution = <10>; };
    // channel_2: channel@2 { reg = <2>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN2>; zephyr,resolution = <10>; };
    channel_3: channel@3 { reg = <3>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN3>; zephyr,resolution = <10>; };
    channel_4: channel@4 { reg = <4>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN4>; zephyr,resolution = <10>; };
    // channel_5: channel@5 { reg = <5>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN5>; zephyr,resolution = <10>; };
    channel_6: channel@6 { reg = <6>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN6>; zephyr,resolution = <10>; };
    // channel_7: channel@7 { reg = <7>; zephyr,gain = "ADC_GAIN_1_6"; zephyr,reference = "ADC_REF_INTERNAL"; zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>; zephyr,input-positive = <NRF_SAADC_AIN7>; zephyr,resolution = <10>; };
};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	status = "disabled";
};

&gpiote {
	status = "okay";
};

&usbd {
    status = "okay";
    usb_device_0: usb_device_0 {
        compatible = "zephyr,usbd";
        status = "okay";
        usb_config_0: usb_config_0 {
            compatible = "zephyr,usbd-config";
			
            cdc_acm_uart0: cdc_acm_uart0 {
                compatible = "zephyr,cdc-acm-uart";
            };

            msc_0: msc_0 {
                compatible = "zephyr,usbd-msc";
            };
        };
    };
};

// Display
&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	max-frequency = <DT_FREQ_M(40)>;
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";
};

// SD card
&spi1 {
        status = "okay";
        pinctrl-0 = <&custom_spi>;
        pinctrl-1 = <&custom_spi>;
        pinctrl-names = "default", "sleep";
        cs-gpios = <&gpio1 0 GPIO_ACTIVE_LOW>;
		sdhc0: sdhc@0 {
                compatible = "zephyr,sdhc-spi-slot";
                reg = <0>;
                status = "okay";
                label = "SDHC_0";
                mmc {
						disk-name = "SD";
                        compatible = "zephyr,sdmmc-disk";
                        status = "okay";
                };
                spi-max-frequency = <24000000>;
        };
};

// Shift register for button inputs
&spi2 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	max-frequency = <DT_FREQ_M(1)>;
	pinctrl-0 = <&spi_sr>;
	pinctrl-names = "default";

	sr165: sr165@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <1000000>; // 1Mhz, should probably be 4MHz
    };
};