# SPDX-License-Identifier: Apache-2.0

# supermini stuff
CONFIG_BUILD_OUTPUT_UF2=y
CONFIG_FLASH_LOAD_OFFSET=0x1000

# board specific
CONFIG_FURRYDEX_EPD_WIDTH=128
CONFIG_FURRYDEX_EPD_HEIGHT=250

CONFIG_FURRYDEX_EPD_MAX_BYTES=4125
CONFIG_FURRYDEX_CURSOR_START_X=0
CONFIG_FURRYDEX_CURSOR_START_Y=249